<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body>
    <div class="chatbox">
      <h1>Tere tulemast</h1>
      <ul>
        {% for i in data %}
        <p>{{i}}</p>
        <br />
        {% endfor %}
      </ul>
      <form action="{{ url_for('html', username=current_user.id) }}" method="post">
        <label for="küsimus">Küsimus:</label>
        <input type="text" id="text" name="küs" placeholder="Küsimus" />
        <button type="submit">Küsi</button>
      </form>


      <form action="{{ url_for('kustuta') }}" method="get">
        <button type="submit" id="kustuta" name="kustuta" value="kustuta">Kustuta ajalugu</button>
      </form>
    </div>








  </body>
</html>
